html {
scroll-behavior: smooth;
}

.header__logo-block{
    background-color: #C0C0C0;
    
}
.header__contact-block{
    background-color: #404142;
}
.prov{color:red;}
.header__logo-text{
/*    padding: 50px;*/
    font-family: Helvetica;
    font-weight: normal;
    cursor: pointer;
    text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
    color: steelblue;
    transition: all 0.5s;
    font-size:2.5em;
    font-weight: bold;

}

.header-phone{
    color: white;
    font-weight:bold;
}

.header__contact-block{
    padding-top:1em;
}
.contact-img{
    cursor: pointer;
}
.nav-link{
    color:aliceblue;
    font-weight: bold;
}
.nav-link:hover{

    color: #D13438;
    transition: all 1s;
}
.vcenter { 
display: inline-block; 
vertical-align: middle; 
float: none; 
}

@media (max-width:1108px) {
    .header__logo-text {
        font-size:2em;
    }
    
    .custom-text p {
        font-size:1em;
    }
    .custom-title {
        font-size:1.5em!important;
    }
}

@media (max-width:780px) {
    #slider {
        display:none;
    }
    .header__logo-text {
        font-size:1.5em;
    }
    .header-phone{
        font-size:0.8em;
    }
}

@media (max-width:375px) {
    .form-group input::placeholder, .form-group textarea::placeholder{
        font-size:0.8em;
    }
    .card-body{
        padding: 16px;
    }
}


.custom-title{
    font-size:2.2em;
}



.section-footer{
  background-color: #404142;

}
.footer-title{color: #CCCCCC;}
.footer-text{
  color:#F2F2F2;
}

.footer-title-2{
  text-shadow: -1px -1px #FFF,
               -1px -1px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               1px 1px #FFF,
               1px -1px #FFF,
               1px -1px #FFF,
               -1px -1px 1px #BBB,
               -2px 2px 1px #BBB,
               2px 2px 1px #BBB,
               2px -2px 1px #BBB;
color: white;
}

div.scrollup {
  position: fixed; /* фиксированная позиция */
  color: #fff; /* цвет текста */
  background-color: #286090; /* цвет заднего фона */
  right: 20px; /* расстояние от правого края */
  bottom: 0px; /* расстояние от нижнего края */
  padding: 4px 10px; /* отступы до содержимого блока */
  font-size: 20px; /* размер шрифта (иконки) */
  border-top-left-radius: 4px; /* скругление верхнего левого угла */
  border-top-right-radius: 4px; /* скругление верхнего правого угла */
  cursor: pointer; /* форма курсора */
  display: none; /* не отображать элемент */
  text-align: center; /*выравнивание содержимого элемента по центру */
}
div.scrollup:hover {
  background-color: #000; /* цвет заднего фона при наведении */
}

/*
body{
  background: rgba(232, 236, 240 .3)
}
*/